.red,
.error{
	color: #990000;
}

.left{ text-align: left; }
.center{ text-align: center; }
.right{ text-align: right; }

.bold{ font-weight:bold;}
.italic{ font-style:italic;}


#supercontainer{
    overflow:auto;
	padding-bottom: 110px;
}


section{ padding-top: 5px; }
.nav-list li a{
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}