<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{SITE_TITLE}</title>
{INCLUDES}

<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->

{INITIALISERS}
</head>

<body id="{MODULE}">
    <div id="wrap">
        <div id = "supercontainer">
            <div id='header'>{HEADER}</div>
            <div id='content'>{MAIN}</div>
        </div>
    </div>
    <div id='footer_container'>
        <div id='footer'>{FOOTER}</div>
    </div>
</body>
</html>
