<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{SITE_TITLE}</title>
{INCLUDES}

<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->

{INITIALISERS}
</head>

<body data-spy="scroll">
    <header id='header' class="container">{HEADER}</header>
    <div class="container">{MAIN}</div>
    <footer id="footer" class="container">{FOOTER}</footer>
</body>
</html>
