<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{SITE_TITLE}</title>
{INCLUDES}

<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->

{INITIALISERS}
</head>

<body id="{MODULE}" data-spy="scroll" >
    <header id='header'>
        <div class='container'>{HEADER}</div>
    </header>
    <div id='supercontainer'>
        <div id='content' class="container">{MAIN}</div>
    </div>
    <footer id="footer">{FOOTER}</footer>
</body>
</html>
